<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="designer"
             type="InfinniPlatform.ReportDesigner.Settings.DesignerConfigSection, InfinniPlatform.ReportDesigner" />
  </configSections>

  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>MetropolisLight</value>
      </setting>
    </DXThemeManager>
  </userSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v13.2" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.2.9.0" newVersion="13.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v13.2" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.2.9.0" newVersion="13.2.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <designer>
    <reportServices>
      <item key="localhost" value="http://localhost:9900/" />
    </reportServices>
  </designer>

  <appSettings>
    <add key="AppServerName" value="localhost" />
    <add key="AppServerPort" value="9900" />
    <add key="AppServerScheme" value="http" />
    <add key="AppServerCertificate" value="490966d6df5b95b5456e7079a0bf969f43620534" />
    <add key="ConfigId" value="Designer" />
    <add key="AdminPassword" value="Admin" />
		<add key ="AppliedAssemblies" value="..\Assemblies\"/>
  </appSettings>

</configuration>