<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="NuGet.org" value="https://www.nuget.org/api/v2/" />
		<add key="nuget.infinnity.ru" value="http://nuget.infinnity.ru/api/v2/" />
		<add key="teamcity.infinnity.ru" value="http://teamcity.infinnity.ru/guestAuth/app/nuget/v1/FeedService.svc/" />
	</packageSources>
</configuration>