<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <!-- Конфигурационные файлы Infinni.NodeWorker.exe.config и InfinniPlatform.ServiceHost.exe.config должны совпадать -->

    <appSettings>

        <!-- Настройки log4net - 'https://logging.apache.org/log4net/release/manual/configuration.html' -->

        <!-- Путь к файлу конфигурации логирования (по умолчанию - 'AppLog.config') -->
        <add key="log4net.Config" value="AppLog.config" />
        <!-- Наблюдать за файлом конфигурации логирования -->
        <add key="log4net.Config.Watch" value="True" />

    </appSettings>

    <system.web>

        <!-- Ключи шифрования данных Cookie и проверки состояния сессии -->
        <!-- Ключи должны быть одинаковыми для всех экземпляров приложения -->
        <!-- Пример генерации ключей в PowerShell: 'Generate-MachineKey -validation sha1' - 'https://support.microsoft.com/en-us/kb/2915218#AppendixA' -->
        <machineKey decryption="AES" decryptionKey="645832166E11496F54C60985B52C91B8511148CC9B735E49AAC1DD9E88090CCD" validation="SHA1" validationKey="D4B775069A6AFCAA640FA3425168885B282482EB37D8765FEE33E4997BF3AF900AA429090DF6A7325091719A8AF27768 5517D02C01BD942ECC1E5094984C6DF3" />

    </system.web>

    <runtime>

        <!-- Серверный режим сборки мусора -->
        <gcServer enabled="true" />
      
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
          <probing privatePath="app;platform;" />
        </assemblyBinding>

    </runtime>

</configuration>