<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="hostIp" value="localhost" />
    <add key="port" value="9200" />
    <add key="CassandraDefaultKeyspace" value="MultiCare" />
    <add key="AssemblyVersionPath" value="Runtime\Versions" />
    <add key="AppServer" value="localhost" />
    <add key="AppPort" value="9999" />
    <add key="HelpPath" value="C:\Projects\Infinnity\InfinniPlatform\Demos\DMD\Assemblies\Help" />
    <add key="ConfigurationPath" value="TestData\Configurations" />
    <add key="AppServerCallback" value="demo.infinnity.ru" />
    <add key="AppPortCallback" value="8800" />
    <add key="UseIEMKIndexing" value="true" />
    <add key="OrganizationOid" value="1.2.643.5.1.13.3.25.74.109" />
    <add key="ConfigurationList" value="InfinniConfiguration.Update, InfinniConfiguration.RestfulApi,InfinniConfiguration.SystemConfig,InfinniPlatform.Metadata,InfinniConfiguration.ElasticSearchClassifierStorage" />
    <!--<add key="OrganizationOid" value="1.2.643.5.1.13.3.25.86.31" />-->
    <add key="OrganizationName" value="Государственное бюджетное учреждение здравоохранения &quot;Челябинский областной медицинский информационно-аналитический центр &quot;" />
    <add key="ClientEntityId" value="658f7fff-3137-4441-b1bb-235a8e239bff" />
  </appSettings>
</configuration>