<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <appSettings>

        <!-- ЛОГИРОВАНИЕ -->

        <!-- Путь к файлу конфигурации лога log4net - https://logging.apache.org/log4net/release/manual/configuration.html (по умолчанию - 'Log.config') -->
        <add key="LogConfigFile" value="Log.config" />


        <!-- ХОСТИНГ СЕРВИСОВ -->

        <!-- Адрес для хостинга сервисов (по умолчанию - 'localhost') -->
        <add key="AppServerName" value="localhost" />
        <!-- Порт для хостинга сервисов (по умолчанию - 9900) -->
        <add key="AppServerPort" value="9900" />


        <!-- ПРОВАЙДЕРЫ ВНЕШНЕЙ АУТЕНТИФИКАЦИИ -->

        <!-- Разрешает аутентификацию через ADFS (допустимые значения - true или false, по умолчанию - false) -->
        <add key="AppServerAuthAdfsEnable" value="false" />
        <!-- Адрес сервера ADFS (например: 'myadfs.org:1234', значения по умолчанию нет) -->
        <add key="AppServerAuthAdfsServer" value="Adfs-Server" />

        <!-- Разрешает аутентификацию через Google+ (допустимые значения - true или false, по умолчанию - false) -->
        <add key="AppServerAuthGoogleEnable" value="false" />
        <!-- ClientId приложения в Goole+ (значения по умолчанию нет) -->
        <add key="AppServerAuthGoogleClientId" value="Google-Client-Id" />
        <!-- ClientSecret приложения в Goole+ (значения по умолчанию нет) -->
        <add key="AppServerAuthGoogleClientSecret" value="Google-Client-Secret" />

        <!-- Разрешает аутентификацию через ЕСИА (допустимые значения - true или false, по умолчанию - false) -->
        <add key="AppServerAuthEsiaEnable" value="false" />
        <!-- Базовый адрес сервера ЕСИА (например: 'https://esia.ru', значения по умолчанию нет) -->
        <add key="AppServerAuthEsiaServer" value="Esia-Server" />
        <!-- ClientId приложения в ЕСИА (значения по умолчанию нет) -->
        <add key="AppServerAuthEsiaClientId" value="Esia-Client-Id" />
        <!-- ClientSecret приложения в ЕСИА (используется Thumbprint сертификата приложения, значения по умолчанию нет) -->
        <add key="AppServerAuthEsiaClientSecret" value="Esia-Client-Certificate-Thumbprint" />

        <!-- Разрешает аутентификацию через ВКонтакте (допустимые значения - true или false, по умолчанию - false) -->
        <add key="AppServerAuthVkEnable" value="false" />
        <!-- ClientId приложения в ВКонтакте (значения по умолчанию нет) -->
        <add key="AppServerAuthVkClientId" value="Vk-Client-Id" />
        <!-- ClientSecret приложения в ВКонтакте (значения по умолчанию нет) -->
        <add key="AppServerAuthVkClientSecret" value="Vk-Client-Secret" />

        <!-- Разрешает аутентификацию через Facebook (допустимые значения - true или false, по умолчанию - false) -->
        <add key="AppServerAuthFacebookEnable" value="false" />
        <!-- ClientId приложения в Facebook (значения по умолчанию нет) -->
        <add key="AppServerAuthFacebookClientId" value="Facebook-Client-Id" />
        <!-- ClientSecret приложения в Facebook (значения по умолчанию нет) -->
        <add key="AppServerAuthFacebookClientSecret" value="Facebook-Client-Secret" />


        <!-- ELASTICSEARCH -->

        <!-- Список базовых адресов узлов ElasticSearch (через ',' или ';', по умолчанию - 'http://localhost:9200') -->
        <add key="ElasticSearchNodes" value="http://localhost:9200" />
        <!-- Логин для доступа к ElasticSearch через Shield -->
        <add key="ElasticSearchLogin" value="es_admin" />
        <!-- Пароль для доступа к ElasticSearch через Shield-->
        <add key="ElasticSearchPassword" value="es_admin" />


        <!-- CASSANDRA (obsolete) -->

        <!-- Порт подключения к узлам Cassandra (по умолчанию - 9042) -->
        <add key="CassandraContactPort" value="9042" />
        <!-- Список узлов Cassandra (через ',' или ';', по умолчанию - 'localhost') -->
        <add key="CassandraContactPoints" value="localhost" />
        <!-- Имя пространства ключей Cassandra для приложения (по умолчанию - 'system') -->
        <add key="CassandraDefaultKeyspace" value="InfinniPlatform" />


        <!-- РАБОТА С ФАЙЛАМИ -->

        <!-- Базовый каталог для хранения файлов системы (по умолчанию - 'BlobStorage') -->
        <add key="BlobStorageBaseDirectory" value="BlobStorage" />


        <!-- ПЕЧАТНЫЕ ПРЕДСТАВЛЕНИЯ -->

        <!-- Формат команды вызова утилиты wkhtmltopdf - http://wkhtmltopdf.org/ (по умолчанию - генерируется автоматически с учетом операционной системы) -->
        <add key="HtmlToPdfUtil" value="" />
        <!-- Каталог для хранения временных файлов при генерации HTML/PDF (по умолчанию - каталог временных файлов учетной записи пользователя) -->
        <add key="HtmlToPdfTemp" value="" />


        <!-- НАСТРОЙКА КЭША -->

        <!-- Имя кэша для приложения (по умолчанию - 'ApplicationCache') -->
        <add key="CacheName" value="InfinniPlatform" />
        <!-- Тип кэша для приложения (возможные варианты: 'Memory', 'Redis', 'TwoLayer', по умолчанию - 'Memory') -->
		<!-- При развертывании приложения в промышленной инфраструктуре рекомендуемое значение - 'TwoLayer' -->
        <add key="CacheType" value="Memory" />
        <!-- Строка подключения к Redis (описание - https://github.com/StackExchange/StackExchange.Redis/blob/master/Docs/Configuration.md) -->
        <add key="RedisConnectionString" value="RedisServer" />
        <!-- Таймаут сброса кэша пользователей в минутах (минимум - 1, по умолчанию - 30) -->
        <add key="UserCacheTimeout" value="30" />


        <!-- РАБОТА С МЕТАДАННЫМИ -->

        <!-- Каталог с файлами метаданных (по умолчанию - 'content') -->
        <add key="ContentDirectory" value="content" />
        <!-- Сборки с системными конфигурациями (скоро потеряет актуальность, менять не нужно) -->
        <add key="ConfigurationList" value="InfinniPlatform.Update,InfinniPlatform.RestfulApi,InfinniPlatform.SystemConfig,InfinniPlatform.Metadata" />

    </appSettings>


    <runtime>

        <!-- ПРАВИЛА ПОИСКА ВНЕШНИХ БИБЛИОТЕК -->

        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

            <dependentAssembly>
                <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
            </dependentAssembly>

            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>

            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.0.2.33" newVersion="1.0.2.33" />
            </dependentAssembly>

            <dependentAssembly>
                <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
            </dependentAssembly>

            <dependentAssembly>
                <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>

            <dependentAssembly>
                <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.1.37.0" newVersion="1.1.37.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.0.22.0" newVersion="1.0.22.0" />
            </dependentAssembly>

        </assemblyBinding>
    </runtime>

</configuration>