<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<runtime>
		<!-- Owin -->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.37.0" newVersion="1.1.37.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<appSettings>

		<!-- InfinniPlatform.Core -->

		<add key="AppServerName" value="localhost" />
		<add key="AppServerPort" value="9900" />
		<add key="AppServerScheme" value="http"/>
		<add key="AppServerCertificate" value="Server-Certificate-Thumbprint"/>

		<add key="LogConfigFile" value="LogTest.config" />
		<add key="AppServerProfileQuery" value="false"/>
		<add key="AssemblyVersionPath" value="Runtime\Versions"/>

		<!-- InfinniPlatform.Authentication -->

		<add key="AppServerAuthAdfsEnable" value="false"/>
		<add key="AppServerAuthAdfsServer" value="Adfs-Server"/>

		<add key="AppServerAuthGoogleEnable" value="false"/>
		<add key="AppServerAuthGoogleClientId" value="Google-Client-Id"/>
		<add key="AppServerAuthGoogleClientSecret" value="Google-Client-Secret"/>

		<add key="AppServerAuthEsiaEnable" value="false"/>
		<add key="AppServerAuthEsiaServer" value="Esia-Server"/>
		<add key="AppServerAuthEsiaClientId" value="Esia-Client-Id"/>
		<add key="AppServerAuthEsiaClientSecret" value="Esia-Client-Certificate-Thumbprint"/>

		<add key="AppServerAuthVkEnable" value="false"/>
		<add key="AppServerAuthVkClientId" value="Vk-Client-Id"/>
		<add key="AppServerAuthVkClientSecret" value="Vk-Client-Secret"/>

		<add key="AppServerAuthFacebookEnable" value="false"/>
		<add key="AppServerAuthFacebookClientId" value="Facebook-Client-Id"/>
		<add key="AppServerAuthFacebookClientSecret" value="Facebook-Client-Secret"/>

		<add key="AdminPassword" value="Admin"/>

		<!-- InfinniPlatform.ElasticSearch -->

		<!-- Url should be separeted by ';' -->
		<add key="ElasticSearchNodes" value="http://localhost:9200" />

		<!-- InfinniPlatform.Cassandra -->

		<add key="CassandraContactPort" value="9042" />
		<add key="CassandraContactPoints" value="localhost" />
		<add key="CassandraDefaultKeyspace" value="InfinniPlatform" />

		<!-- InfinniPlatform.ServiceHost -->

		<add key="ConsoleMode" value="true" />
		<add key="ApplicationServiceName" value="InfinniPlatform" />
		<add key="ApplicationServiceDescription" value="InfinniPlatform Services" />

		<!-- InfinniPlatform.FlowDocument -->
		<add key="HtmlToPdfUtil" value="" />
		<add key="HtmlToPdfTemp" value="" />

		<!-- InfinniPlatform.Caching -->
		<add key="CacheName" value="InfinniPlatform" />
		<add key="RedisConnectionString" value="RedisServer" />

		<!-- InfinniConfiguration.* -->

		<add key="ConfigurationPath" value="TestData\Configurations" />

	</appSettings>

</configuration>
